In [1]:
import numpy as np
import pandas as pd
import os
pd.set_option('display.max_columns', None)
import shutil
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.backends.backend_pdf import PdfPages
import warnings
warnings.filterwarnings('ignore')

In [2]:
team1 = 'Romania'
team2 = 'Ukraine'
comp = "Euros"

In [3]:
output_data_dir = f"C:/Users/saransh.s/Downloads/Notebooks/Analysis/opta/match_data/{comp}"

if not os.path.exists(output_data_dir):
    os.mkdir(output_data_dir)

In [4]:
output_data_dir = f"C:/Users/saransh.s/Downloads/Notebooks/Analysis/opta/match_data/{comp}/{team1} vs {team2}"

if not os.path.exists(output_data_dir):
    os.mkdir(output_data_dir)

In [5]:
os.chdir(r'C:\Users\saransh.s\Downloads\Notebooks\Analysis\Opta\opta data')

In [6]:
match_info = pd.read_csv('match_info.csv')
match_info

,id,name,shortName,officialName,code,position,country/id,country/name
0,1qiyr1mknujsl19tb9u2w9h3n,Romania,Romania,Romania,ROU,home,17oj2qrzqlkhdjvazum10sx2i,Romania
1,7a8no9dyo0r9g31sfi9h7ffbc,Ukraine,Ukraine,Ukraine,UKR,away,315w6fk6umfzf4qvba3t55u61,Ukraine

In [7]:
match_event_data = pd.read_csv('event_data.csv')
match_event_data.head()

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier/0/id,qualifier/0/qualifierId,qualifier/0/value,qualifier/1/id,qualifier/1/qualifierId,qualifier/1/value,qualifier/2/id,qualifier/2/qualifierId,qualifier/2/value,qualifier/3/id,qualifier/3/qualifierId,qualifier/3/value,qualifier/4/id,qualifier/4/qualifierId,qualifier/4/value,qualifier/5/id,qualifier/5/qualifierId,qualifier/5/value,qualifier/6/id,qualifier/6/qualifierId,qualifier/6/value,qualifier/7/id,qualifier/7/qualifierId,qualifier/7/value,playerId,playerName,qualifier/8/id,qualifier/8/qualifierId,keyPass,qualifier/9/id,qualifier/9/qualifierId,qualifier/9/value,qualifier/10/id,qualifier/10/qualifierId,qualifier/11/id,qualifier/11/qualifierId,qualifier/11/value,qualifier/12/id,qualifier/12/qualifierId,qualifier/13/id,qualifier/13/qualifierId,qualifier/14/id,qualifier/14/qualifierId,qualifier/15/id,qualifier/15/qualifierId,qualifier/15/value,qualifier/16/id,qualifier/16/qualifierId,qualifier/17/id,qualifier/17/qualifierId,qualifier/17/value,qualifier/8/value,qualifier/12/value,qualifier/10/value,qualifier/13/value,assist,qualifier/16/value,qualifier/18/id,qualifier/18/qualifierId,qualifier/19/id,qualifier/19/qualifierId,qualifier/14/value
0,2696645587,1,34,16,0,0,7a8no9dyo0r9g31sfi9h7ffbc,1,0.0,0.0,2024-06-17T12:01:20.753Z,2024-06-17T13:36:44Z,5.080537e+09,197.0,23941,5.080537e+09,44.0,"1, 2, 2, 3, 2, 2, 3, 3, 4, 3, 3, 5, 5, 5, 5, 5...",5.080537e+09,30.0,"38bp85766w04a0nuulq5fiig9, ah48smjzxxo8cp2m5k4...",5.080537e+09,130.0,8,5.080537e+09,194.0,7ryk67v5ovygt0kqg0srvk5p1,5.080537e+09,59.0,"23, 2, 17, 6, 13, 22, 15, 19, 11, 14, 10, 1, 3...",5.080537e+09,131.0,"1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 0, 0, 0,...",5.080537e+09,227.0,"0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2696645595,1,34,16,0,0,1qiyr1mknujsl19tb9u2w9h3n,1,0.0,0.0,2024-06-17T12:01:27.656Z,2024-06-17T13:02:49Z,5.080537e+09,131.0,"1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 0, 0, 0,...",5.080537e+09,44.0,"1, 2, 2, 3, 2, 2, 3, 3, 4, 3, 3, 5, 5, 5, 5, 5...",5.080537e+09,197.0,1260,5.080537e+09,130.0,7,5.080537e+09,227.0,"0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",5.080537e+09,194.0,65jv6v3qujiijivadpijzpr6d,5.080537e+09,30.0,"djs16aa3q2ymqto3sd3uy1785, 38dhmhce7deuqgqmc3p...",5.080537e+09,59.0,"1, 2, 11, 6, 3, 15, 20, 18, 19, 21, 17, 4, 5, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2696649331,2,32,1,0,0,1qiyr1mknujsl19tb9u2w9h3n,1,0.0,0.0,2024-06-17T13:00:46.070Z,2024-06-17T15:04:57Z,5.080554e+09,127.0,Right to Left,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2696649327,2,32,1,0,0,7a8no9dyo0r9g31sfi9h7ffbc,1,0.0,0.0,2024-06-17T13:00:46.070Z,2024-06-17T13:00:46Z,5.080554e+09,127.0,Left to Right,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2696649335,3,1,1,0,0,7a8no9dyo0r9g31sfi9h7ffbc,1,49.7,50.6,2024-06-17T13:00:46.071Z,2024-06-17T13:00:50Z,5.080554e+09,279.0,S,5.080554e+09,140.0,34.1,5.080554e+09,213.0,2.87,5.080554e+09,56.0,Back,5.080554e+09,212.0,17.0,5.080554e+09,141.0,57.2,NaN,NaN,NaN,NaN,NaN,NaN,192q3f2xwk9nc6juoa1bcm3th,A. Dovbyk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
type_id_df = pd.read_csv('opta-events.csv', encoding = 'ISO-8859-1')
type_id_df.rename(columns={'ID':'typeId'},inplace=True)
type_id_df.head()

   typeId           Type                                        Description
0       1          Pass   Any pass attempted from one player to another ...
1       2  Offside Pass   Attempted pass made to a player who is in an o...
2       3       Take On   Attempted dribble past an opponent (excluding ...
3       4          Foul   This event is shown when a foul is committed r...
4       5           Out   Shown each time the ball goes out of play for ...

In [9]:
qualifier_df = pd.read_csv('opta-qualifiers.csv')
qualifier_df.head()

,ID,name,value,description
0,1,Long ball,NaN,Long pass over 35 yards
1,2,Cross,NaN,A ball played in from wide areas into the box
2,3,Head pass,NaN,Pass made with a players head
3,4,Through ball,NaN,Ball played through for player making an attac...
4,5,Free kick taken,NaN,Any free kick; direct or indirect

In [10]:
id1 = match_info['id'].iloc[0]
team1 = match_info['officialName'].iloc[0]
id2 = match_info['id'].iloc[1]
team2 = match_info['officialName'].iloc[1]

match_event_data['contestantId'] = np.where(match_event_data['contestantId']==id1,team1,team2)
match_event_data['outcome'] = np.where(match_event_data['outcome']==1,'Successful','Unsuccessful')
match_event_data.rename(columns={"contestantId":'Team','timeMin':'Minute','timeSec':'Seconds'},inplace=True)

In [11]:
type_cols = [col for col in match_event_data.columns if '/qualifierId' in col]
match_event_data['endX'] = 0.0
match_event_data['endY'] = 0.0

for i in range(len(match_event_data)):
    df1 = match_event_data.iloc[i:i+1,:]
    j = 0
    for j in range(len(type_cols)):
        col = df1[type_cols[j]].values[0]
        if col == 140:
            endx = df1.loc[:,'qualifier/%i/value' %j].values[0]
            match_event_data['endX'][i] = float(endx)
        else:
            j +=1
    k = 0
    for k in range(len(type_cols)):
        col = df1[type_cols[k]].values[0]
        if col == 141:
            endy = df1.loc[:,'qualifier/%i/value' %k].values[0]
            match_event_data['endY'][i] = float(endy)
        else:
            k +=1

In [12]:
match_event_data = pd.merge(match_event_data,type_id_df,on='typeId',how='left')
match_event_data.head(8)

,id,eventId,typeId,periodId,Minute,Seconds,Team,outcome,x,y,timeStamp,lastModified,qualifier/0/id,qualifier/0/qualifierId,qualifier/0/value,qualifier/1/id,qualifier/1/qualifierId,qualifier/1/value,qualifier/2/id,qualifier/2/qualifierId,qualifier/2/value,qualifier/3/id,qualifier/3/qualifierId,qualifier/3/value,qualifier/4/id,qualifier/4/qualifierId,qualifier/4/value,qualifier/5/id,qualifier/5/qualifierId,qualifier/5/value,qualifier/6/id,qualifier/6/qualifierId,qualifier/6/value,qualifier/7/id,qualifier/7/qualifierId,qualifier/7/value,playerId,playerName,qualifier/8/id,qualifier/8/qualifierId,keyPass,qualifier/9/id,qualifier/9/qualifierId,qualifier/9/value,qualifier/10/id,qualifier/10/qualifierId,qualifier/11/id,qualifier/11/qualifierId,qualifier/11/value,qualifier/12/id,qualifier/12/qualifierId,qualifier/13/id,qualifier/13/qualifierId,qualifier/14/id,qualifier/14/qualifierId,qualifier/15/id,qualifier/15/qualifierId,qualifier/15/value,qualifier/16/id,qualifier/16/qualifierId,qualifier/17/id,qualifier/17/qualifierId,qualifier/17/value,qualifier/8/value,qualifier/12/value,qualifier/10/value,qualifier/13/value,assist,qualifier/16/value,qualifier/18/id,qualifier/18/qualifierId,qualifier/19/id,qualifier/19/qualifierId,qualifier/14/value,endX,endY,Type,Description
0,2696645587,1,34,16,0,0,Ukraine,Successful,0.0,0.0,2024-06-17T12:01:20.753Z,2024-06-17T13:36:44Z,5.080537e+09,197.0,23941,5.080537e+09,44.0,"1, 2, 2, 3, 2, 2, 3, 3, 4, 3, 3, 5, 5, 5, 5, 5...",5.080537e+09,30.0,"38bp85766w04a0nuulq5fiig9, ah48smjzxxo8cp2m5k4...",5.080537e+09,130.0,8,5.080537e+09,194.0,7ryk67v5ovygt0kqg0srvk5p1,5.080537e+09,59.0,"23, 2, 17, 6, 13, 22, 15, 19, 11, 14, 10, 1, 3...",5.080537e+09,131.0,"1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 0, 0, 0,...",5.080537e+09,227.0,"0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,Team set up,"Team line up; qualifiers 30, 44, 59, 130, 131 ..."
1,2696645595,1,34,16,0,0,Romania,Successful,0.0,0.0,2024-06-17T12:01:27.656Z,2024-06-17T13:02:49Z,5.080537e+09,131.0,"1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 0, 0, 0,...",5.080537e+09,44.0,"1, 2, 2, 3, 2, 2, 3, 3, 4, 3, 3, 5, 5, 5, 5, 5...",5.080537e+09,197.0,1260,5.080537e+09,130.0,7,5.080537e+09,227.0,"0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",5.080537e+09,194.0,65jv6v3qujiijivadpijzpr6d,5.080537e+09,30.0,"djs16aa3q2ymqto3sd3uy1785, 38dhmhce7deuqgqmc3p...",5.080537e+09,59.0,"1, 2, 11, 6, 3, 15, 20, 18, 19, 21, 17, 4, 5, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,Team set up,"Team line up; qualifiers 30, 44, 59, 130, 131 ..."
2,2696649331,2,32,1,0,0,Romania,Successful,0.0,0.0,2024-06-17T13:00:46.070Z,2024-06-17T15:04:57Z,5.080554e+09,127.0,Right to Left,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,Start,Start of a match period
3,2696649327,2,32,1,0,0,Ukraine,Successful,0.0,0.0,2024-06-17T13:00:46.070Z,2024-06-17T13:00:46Z,5.080554e+09,127.0,Left to Right,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,Start,Start of a match period
4,2696649335,3,1,1,0,0,Ukraine,Successful,49.7,50.6,2024-06-17T13:00:46.071Z,2024-06-17T13:00:50Z,5.080554e+09,279.0,S,5.080554e+09,140.0,34.1,5.080554e+09,213.0,2.87,5.080554e+09,56.0,Back,5.080554e+09,212.0,17.0,5.080554e+09,141.0,57.2,NaN,NaN,NaN,NaN,NaN,NaN,192q3f2xwk9nc6juoa1bcm3th,A. Dovbyk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.1,57.2,Pass,Any pass attempted from one player to another ...
5,2696649337,4,1,1,0,2,Ukraine,Successful,34.5,57.5,2024-06-17T13:00:48.247Z,2024-06-17T13:00:50Z,5.080554e+09,56.0,Back,5.080554e+09,212.0,14.0,5.080554e+09,140.0,23.7,5.080554e+09,213.0,2.51,5.080554e+09,141.0,69.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7ryk67v5ovygt0kqg0srvk5p1,T. Stepanenko,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.7,69.6,Pass,Any pass attempted from one player to another ...
6,2696649339,5,1,1,0,4,Ukraine,Successful,23.9,67.6,2024-06-17T13:00:50.519Z,2024-06-17T13:00:54Z,5.080554e+09,141.0,38.0,5.080554e+09,140.0,22.0,5.080554e+09,213.0,4.61,5.080554e+09,212.0,20.2,5.080554e+09,56.0,Back,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b2na3x3g49i4zwsm1pcsqlx3p,M. Matviienko,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,38.0,Pass,Any pass attempted from one player to another ...
7,2696649343,6,1,1,0,8,Ukraine,Successful,24.9,33.9,2024-06-17T13:00:54.646Z,2024-06-17T13:00:58Z,5.080554e+09,141.0,63.9,5.080554e+09,213.0,1.52,5.080554e+09,140.0,25.9,5.080554e+09,56.0,Back,5.080554e+09,212.0,20.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2u6hj8z2g0r7b5roxpluy4sbu,I. Zabarnyi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.9,63.9,Pass,Any pass attempted from one player to another ...

In [13]:
match_event_data['Goal_Mouth_Y'] = 0.0
match_event_data['Goal_Mouth_Z'] = 0.0

for i in range(len(match_event_data)):
    df1 = match_event_data.iloc[i:i+1,:]
    j = 0
    for j in range(len(type_cols)):
        col = df1[type_cols[j]].values[0]
        if col == 102:
            mouth_y = df1.loc[:,'qualifier/%i/value' %j].values[0]
            match_event_data['Goal_Mouth_Y'][i] = float(mouth_y)
        else:
            j +=1
    k = 0
    for k in range(len(type_cols)):
        col = df1[type_cols[k]].values[0]
        if col == 103:
            mouth_z = df1.loc[:,'qualifier/%i/value' %k].values[0]
            match_event_data['Goal_Mouth_Z'][i] = float(mouth_z)
        else:
            k +=1
    
    #nj=0 Add furthur shot details

In [14]:
match_event_data['Big Chance'] = 0.0
match_event_data['Own Goal'] = 0.0

for i in range(len(match_event_data)):
    df1 = match_event_data.iloc[i:i+1,:]
    j = 0
    for j in range(len(type_cols)):
        col = df1[type_cols[j]].values[0]
        if col == 214:
            big_chance = 'Yes'
            match_event_data['Big Chance'][i] = big_chance
        else:
            j +=1
    k = 0
    for k in range(len(type_cols)):
        col = df1[type_cols[k]].values[0]
        if col == 28:
            own_g = 'Yes'
            match_event_data['Own Goal'][i] = own_g
        else:
            k +=1
    
    #nj=0 Add furthur shot details

In [15]:
final_df = match_event_data[['Team','Minute','Seconds','typeId','Type','outcome','x','y','endX','endY','Goal_Mouth_Y'
                             ,'Goal_Mouth_Z','Big Chance','Own Goal','playerName','keyPass','Description']]

final_df['keyPass'].fillna(0,inplace=True)
final_df.dropna(inplace=True)
final_df = final_df.reset_index(drop=True)

os.chdir(output_data_dir)
final_df.to_csv(f"{team1}_vs_{team2}.csv")