In [1]:
import gzip
from pprint import pprint
import time
from seleniumwire import webdriver
import pandas as pd
import numpy as np

In [2]:
# https://www.fotmob.com/matches/real-madrid-vs-liverpool/2gxhcg#4621543

In [77]:
url = "https://www.scoresway.com/en_GB/soccer/indian-super-league-2024-2025/2h95ink16qa9eabhpeydbyz9w/match/view/37e58d7nu5dsyg8w4xl3njf2s/player-stats"

In [78]:
import os
os.getcwd(),os.path.exists(r'Fetch_match_links.py')

('D:\\research_locale\\notebooks\\ScoresAway', True)

In [79]:

driver = webdriver.Chrome()  # Use your specific driver setup
driver.get(url)
print("sleeping")
# Wait for 30 seconds to allow all requests to complete
time.sleep(20)

data = {}
for request in driver.requests:
    try:
        print("looking")
        if "https://api.performfeeds.com/soccerdata/matchevent" in request.url :# \
        # or "https://api.performfeeds.com/soccerdata/squad" in request.url :
            
            if b'\x1f\x8b' in request.response.body[:2]:  # GZIP magic number
                body = gzip.decompress(request.response.body)
            else:  # Assume Deflate
                body= zlib.decompress(request.response.body, wbits=zlib.MAX_WBITS | 32)
            req_type = request.url.split('https://api.performfeeds.com/soccerdata/')[-1].split('/')[0]
            if req_type not in data.keys() :
                data[req_type] = {}
                
            if request.response:  # Only process completed requests
                data[req_type] = {
                        "url": request.url,
                        "method": request.method,
                        "status_code": request.response.status_code,
                        "response_content": eval(body.decode().split('(')[-1][:-1])
                    }
                
    except Exception as e:
        print(f"Exception in {request.url}, some problme, fak it : {e}")
driver.quit()
# return data

sleeping
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking
looking

In [80]:
def return_event_data_and_description(row,source_df):
    current_type_id = row.typeId
    working_area_type = source_df[source_df['typeId'] == current_type_id][['Type','Description']]
    if working_area_type.empty :
        return "NA","NA"
    return working_area_type.iloc[0].to_list()

def return_qualifier_data(row,source_df):
    updated_qualifier = []
    for item in row.qualifier:
        q_id = item.get('qualifierId')
        working_area_qualifier = source_df[source_df['ID'] == q_id][['name','description']]
        if working_area_qualifier.empty :
            item['qualifierName'],item['description'] = ['NA','NA']
            updated_qualifier.append(item)
            continue
        item['qualifierName'],item['description'] = working_area_qualifier.iloc[0].to_list()
        updated_qualifier.append(item)
    return updated_qualifier

## Match events

In [81]:
# Example usage:
# print(1)
result = data
element = result['matchevent']
content_element = element['response_content']
# Get Team names

In [82]:
# Example usage:
# print(1)
# result = fetch_event_response(url)
# element = result['matchevent']
# content_element = element['response_content']
# Get Team names
print(1)
teams_df = pd.DataFrame(content_element['matchInfo']['contestant'])
# Get opta-event IDs
type_id_df = pd.read_csv(r'./opta_data/template/opta-events.csv', encoding = 'ISO-8859-1')
type_id_df.rename(columns={'ID':'typeId'},inplace=True)
# Get opta-qualifiers IDs
# print(1)
# qualifiers_df = pd.read_csv(r'./opta_data/template/opta-qualifiers.csv')
# # Preparing correct format of data
# events_df = pd.DataFrame(content_element['liveData']['event'])
# # L1
# id1 = teams_df['id'].iloc[0]
# team1 = teams_df['officialName'].iloc[0]
# id2 = teams_df['id'].iloc[1]
# team2 = teams_df['officialName'].iloc[1]

# events_df['contestantId'] = np.where(events_df['contestantId']==id1,team1,team2)
# events_df['outcome'] = np.where(events_df['outcome']==1,'Successful','Unsuccessful')
# events_df.rename(columns={"contestantId":'Team','timeMin':'Minute','timeSec':'Seconds'},inplace=True)
# # L2        
# event_action_result = events_df.apply(return_event_data_and_description,args=(type_id_df,),axis=1)
# # Unpack the result into two new columns
# events_df['typeId'],events_df['Description'] = zip(*event_action_result)
# events_df['qualifier'] = events_df.apply(return_qualifier_data,args=(qualifiers_df,),axis=1)
# return events_df

1

In [75]:
op = 1

In [83]:
list(set(teams_df[['name','shortName','officialName']].loc[0].to_list())),\
list(set(teams_df[['name','shortName','officialName']].loc[1].to_list()))

(['Mumbai City FC', 'Mumbai', 'Mumbai City'],
 ['NorthEast United FC', 'NorthEast Utd', 'NorthEast United'])

In [9]:
element = result['matchevent']
content_element = element['response_content']

In [10]:
# Get Team names
teams_df = pd.DataFrame(content_element['matchInfo']['contestant'])
teams_df

,id,name,shortName,officialName,code,position,country
0,9xb6v8osxty9w0mel2x7dd4ru,Mohun Bagan,Mohun Bagan,Mohun Bagan Super Giant,MOH,home,"{'id': 'pu2isxryiewd7pvejah6oqex', 'name': 'In..."
1,1oyc8wvt31xlmocyg7euv40bo,Mumbai City,Mumbai,Mumbai City FC,MUM,away,"{'id': 'pu2isxryiewd7pvejah6oqex', 'name': 'In..."

In [11]:
# Get opta-event IDs
type_id_df = pd.read_csv(r'./opta_data/template/opta-events.csv', encoding = 'ISO-8859-1')
type_id_df.rename(columns={'ID':'typeId'},inplace=True)
# Get opta-qualifiers IDs
qualifiers_df = pd.read_csv(r'./opta_data/template/opta-qualifiers.csv')
display(type_id_df.head(3)),display(qualifiers_df.head(3))

   typeId           Type                                        Description
0       1          Pass   Any pass attempted from one player to another ...
1       2  Offside Pass   Attempted pass made to a player who is in an o...
2       3       Take On   Attempted dribble past an opponent (excluding ...

   ID        name value                                    description
0   1   Long ball   NaN                        Long pass over 35 yards
1   2       Cross   NaN  A ball played in from wide areas into the box
2   3   Head pass   NaN                  Pass made with a players head

(None, None)

In [12]:
events_df = pd.DataFrame(content_element['liveData']['event'])
events_df.head(3)

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,keyPass,assist
0,2719332397,1,34,16,0,0,9xb6v8osxty9w0mel2x7dd4ru,1,0.0,0.0,2024-09-13T12:55:43.598Z,2024-09-13T14:18:54Z,"[{'id': 5205708569, 'qualifierId': 131, 'value...",NaN,NaN,NaN,NaN
1,2719332487,1,34,16,0,0,1oyc8wvt31xlmocyg7euv40bo,1,0.0,0.0,2024-09-13T12:56:56.057Z,2024-09-13T14:35:12Z,"[{'id': 5205709139, 'qualifierId': 227, 'value...",NaN,NaN,NaN,NaN
2,2719338593,2,32,1,0,0,1oyc8wvt31xlmocyg7euv40bo,1,0.0,0.0,2024-09-13T14:01:01.391Z,2024-09-13T14:01:02Z,"[{'id': 5205744511, 'qualifierId': 127, 'value...",NaN,NaN,NaN,NaN

### Update team names

In [13]:
id1 = teams_df['id'].iloc[0]
team1 = teams_df['officialName'].iloc[0]
id2 = teams_df['id'].iloc[1]
team2 = teams_df['officialName'].iloc[1]

events_df['contestantId'] = np.where(events_df['contestantId']==id1,team1,team2)
events_df['outcome'] = np.where(events_df['outcome']==1,'Successful','Unsuccessful')
events_df.rename(columns={"contestantId":'Team','timeMin':'Minute','timeSec':'Seconds'},inplace=True)
events_df.head(3)

,id,eventId,typeId,periodId,Minute,Seconds,Team,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,keyPass,assist
0,2719332397,1,34,16,0,0,Mohun Bagan Super Giant,Successful,0.0,0.0,2024-09-13T12:55:43.598Z,2024-09-13T14:18:54Z,"[{'id': 5205708569, 'qualifierId': 131, 'value...",NaN,NaN,NaN,NaN
1,2719332487,1,34,16,0,0,Mumbai City FC,Successful,0.0,0.0,2024-09-13T12:56:56.057Z,2024-09-13T14:35:12Z,"[{'id': 5205709139, 'qualifierId': 227, 'value...",NaN,NaN,NaN,NaN
2,2719338593,2,32,1,0,0,Mumbai City FC,Successful,0.0,0.0,2024-09-13T14:01:01.391Z,2024-09-13T14:01:02Z,"[{'id': 5205744511, 'qualifierId': 127, 'value...",NaN,NaN,NaN,NaN

### Update Event Ids | add description as well

In [15]:
events_df

,id,eventId,typeId,periodId,Minute,Seconds,Team,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,keyPass,assist,Description
0,2719332397,1,Team set up,16,0,0,Mohun Bagan Super Giant,Successful,0.0,0.0,2024-09-13T12:55:43.598Z,2024-09-13T14:18:54Z,"[{'id': 5205708569, 'qualifierId': 131, 'value...",NaN,NaN,NaN,NaN,"Team line up; qualifiers 30, 44, 59, 130, 131 ..."
1,2719332487,1,Team set up,16,0,0,Mumbai City FC,Successful,0.0,0.0,2024-09-13T12:56:56.057Z,2024-09-13T14:35:12Z,"[{'id': 5205709139, 'qualifierId': 227, 'value...",NaN,NaN,NaN,NaN,"Team line up; qualifiers 30, 44, 59, 130, 131 ..."
2,2719338593,2,Start,1,0,0,Mumbai City FC,Successful,0.0,0.0,2024-09-13T14:01:01.391Z,2024-09-13T14:01:02Z,"[{'id': 5205744511, 'qualifierId': 127, 'value...",NaN,NaN,NaN,NaN,Start of a match period
3,2719338591,2,Start,1,0,0,Mohun Bagan Super Giant,Successful,0.0,0.0,2024-09-13T14:01:01.391Z,2024-09-13T14:01:29Z,"[{'id': 5205744505, 'qualifierId': 127, 'value...",NaN,NaN,NaN,NaN,Start of a match period
4,2719338601,3,Pass,1,0,0,Mohun Bagan Super Giant,Successful,49.9,50.0,2024-09-13T14:01:01.392Z,2024-09-13T14:36:37Z,"[{'id': 5205744541, 'qualifierId': 140, 'value...",ar6epfwqqob8wx8tra17jxkgl,D. Petratos,NaN,NaN,Any pass attempted from one player to another ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1487,2719357755,782,End,2,95,18,Mumbai City FC,Successful,0.0,0.0,2024-09-13T15:57:12.409Z,2024-09-13T15:57:16Z,"[{'id': 5205854239, 'qualifierId': 209, 'quali...",NaN,NaN,NaN,NaN,End of a match period
1488,2719357797,703,End,14,0,0,Mohun Bagan Super Giant,Successful,0.0,0.0,2024-09-13T15:57:22.785Z,2024-09-13T15:57:31Z,"[{'id': 5205854491, 'qualifierId': 57, 'value'...",NaN,NaN,NaN,NaN,End of a match period
1489,2719357779,783,End,14,0,0,Mumbai City FC,Successful,0.0,0.0,2024-09-13T15:57:22.785Z,2024-09-13T15:57:22Z,"[{'id': 5205854415, 'qualifierId': 209, 'quali...",NaN,NaN,NaN,NaN,End of a match period
1490,2719357803,704,Collection End,14,0,0,Mohun Bagan Super Giant,Successful,0.0,0.0,2024-09-13T15:57:22.809Z,2024-09-13T16:09:29Z,"[{'id': 5205862705, 'qualifierId': 302, 'quali...",NaN,NaN,NaN,NaN,Event 30 signals end of half. This signals end...
1491,2719357783,784,Collection End,14,0,0,Mumbai City FC,Successful,0.0,0.0,2024-09-13T15:57:22.809Z,2024-09-13T16:09:30Z,"[{'id': 5205856431, 'qualifierId': 302, 'quali...",NaN,NaN,NaN,NaN,Event 30 signals end of half. This signals end...

### Squad DB

{'id': '1cclqc2tw3zav2if1cqij7ofe',
 'firstName': 'Manvir',
 'lastName': 'Singh',
 'shortFirstName': 'Manvir',
 'shortLastName': 'Singh',
 'gender': 'Male',
 'knownName': 'Manvir Singh',
 'matchName': 'M. Singh',
 'nationality': 'India',
 'nationalityId': 'pu2isxryiewd7pvejah6oqex',
 'position': 'Midfielder',
 'type': 'player',
 'placeOfBirth': 'Duhre',
 'shirtNumber': 11,
 'active': 'yes'}