In [38]:
import pandas as pd
import json
from base_app.models import ConfigItems,OptaEvents,OptaQualifier
pd.set_option('display.max_columns', None)
from base_app.helpers import enable_fullsize_notebook

In [80]:
events = pd.read_excel("Sample_Events_to_Merge.xlsx")
with open("shots.json","r") as f :
    shots = json.loads(f.read())
with open("momentum.json","r") as f :
    momentum = json.loads(f.read())
events.head(3)

,id,eventId,event_type,period,minute,seconds,team,outcome,x,y,timestamp,lastModified,qualifier,player_id,player_name,key_pass,assist,description,end_x,end_y,goal_mouth_y,goal_mouth_z,big_chance,own_goal,zone
0,2811320779,1,Team set up,Start,0,0,FC Barcelona,Successful,0.0,0.0,2025-05-06T17:51:37.590Z,2025-05-06T17:51:37Z,"[{'id': 5708192801, 'qualifierId': 59, 'value'...",NaN,NaN,NaN,NaN,The qualifiers on this event show team lineup ...,0.0,0.0,0.0,0.0,False,False,NaN
1,2811320839,1,Team set up,Start,0,0,FC Internazionale Milano,Successful,0.0,0.0,2025-05-06T17:51:58.187Z,2025-05-06T17:51:57Z,"[{'id': 5708193191, 'qualifierId': 194, 'value...",NaN,NaN,NaN,NaN,The qualifiers on this event show team lineup ...,0.0,0.0,0.0,0.0,False,False,NaN
2,2811337399,2,Start,FirstHalf,0,0,FC Barcelona,Successful,0.0,0.0,2025-05-06T19:00:12.938Z,2025-05-06T19:00:14Z,"[{'id': 5708288541, 'qualifierId': 127, 'value...",NaN,NaN,NaN,NaN,Start of a match period.,0.0,0.0,0.0,0.0,False,False,NaN

## Shot Merge

In [110]:
shots_df = pd.DataFrame(shots)
shots_df.drop(['teamColor','firstName','lastName'],axis=1,inplace=True)
shots_df.head(5)[['id','expectedGoals','expectedGoalsOnTarget']]

           id  expectedGoals  expectedGoalsOnTarget
0  2811342019       0.021618               0.012628
1  2811342377       0.043795               0.000000
2  2811343455       0.007279               0.000000
3  2811344219       0.016222               0.089953
4  2811344365       0.648341               0.978955

In [118]:
p = events.merge(
    shots_df[['id','expectedGoals','expectedGoalsOnTarget']],
    on=["id"],
    how="left"
)
list(p[p['id'] == 2811342019 ]['qualifier'])

["[{'id': 5708314687, 'qualifierId': 22, 'qualifier_name': 'Regular play'}, {'id': 5708314945, 'qualifierId': 146, 'value': '98.9', 'qualifier_name': 'Blocked x co-ordinate'}, {'id': 5708616079, 'qualifierId': 121, 'qualifier_name': 'Swerve Right'}, {'id': 5708314949, 'qualifierId': 147, 'value': '48.6', 'qualifier_name': 'Blocked y co-ordinate'}, {'id': 5708314759, 'qualifierId': 72, 'qualifier_name': 'Left footed'}, {'id': 5708314941, 'qualifierId': 103, 'value': '9.5', 'qualifier_name': 'Goal mouth z co-ordinate'}, {'id': 5708314983, 'qualifierId': 233, 'value': '112', 'qualifier_name': 'Opposite related event ID'}, {'id': 5708314691, 'qualifierId': 56, 'value': 'Center', 'qualifier_name': 'Zone'}, {'id': 5708314943, 'qualifierId': 215, 'qualifier_name': 'Individual Play'}, {'id': 5709016873, 'qualifierId': 178, 'qualifier_name': 'Standing'}, {'id': 5708314931, 'qualifierId': 78, 'qualifier_name': 'Low centre'}, {'id': 5708314933, 'qualifierId': 29, 'qualifier_name': 'Assisted'}, {'id': 5708314935, 'qualifierId': 55, 'value': '164', 'qualifier_name': 'Related event ID'}, {'id': 5708314689, 'qualifierId': 18, 'qualifier_name': 'Out of box-centre'}, {'id': 5708314939, 'qualifierId': 102, 'value': '50.2', 'qualifier_name': 'Goal mouth y co-ordinate'}]"]

In [ ]:

["[{'id': 5708314687, 'qualifierId': 22, 'qualifier_name': 'Regular play'}, {'id': 5708314945, 'qualifierId': 146, 'value': '98.9', 'qualifier_name': 'Blocked x co-ordinate'}, {'id': 5708616079, 'qualifierId': 121, 'qualifier_name': 'Swerve Right'}, {'id': 5708314949, 'qualifierId': 147, 'value': '48.6', 'qualifier_name': 'Blocked y co-ordinate'}, {'id': 5708314759, 'qualifierId': 72, 'qualifier_name': 'Left footed'}, {'id': 5708314941, 'qualifierId': 103, 'value': '9.5', 'qualifier_name': 'Goal mouth z co-ordinate'}, {'id': 5708314983, 'qualifierId': 233, 'value': '112', 'qualifier_name': 'Opposite related event ID'}, {'id': 5708314691, 'qualifierId': 56, 'value': 'Center', 'qualifier_name': 'Zone'}, {'id': 5708314943, 'qualifierId': 215, 'qualifier_name': 'Individual Play'}, {'id': 5709016873, 'qualifierId': 178, 'qualifier_name': 'Standing'}, {'id': 5708314931, 'qualifierId': 78, 'qualifier_name': 'Low centre'}, {'id': 5708314933, 'qualifierId': 29, 'qualifier_name': 'Assisted'}, {'id': 5708314935, 'qualifierId': 55, 'value': '164', 'qualifier_name': 'Related event ID'}, {'id': 5708314689, 'qualifierId': 18, 'qualifier_name': 'Out of box-centre'}, {'id': 5708314939, 'qualifierId': 102, 'value': '50.2', 'qualifier_name': 'Goal mouth y co-ordinate'}]"]

In [109]:
pprint(shot_events.head(3).iloc[0]['qualifier'])

("[{'id': 5708314687, 'qualifierId': 22, 'qualifier_name': 'Regular play'}, "
 "{'id': 5708314945, 'qualifierId': 146, 'value': '98.9', 'qualifier_name': "
 "'Blocked x co-ordinate'}, {'id': 5708616079, 'qualifierId': 121, "
 "'qualifier_name': 'Swerve Right'}, {'id': 5708314949, 'qualifierId': 147, "
 "'value': '48.6', 'qualifier_name': 'Blocked y co-ordinate'}, {'id': "
 "5708314759, 'qualifierId': 72, 'qualifier_name': 'Left footed'}, {'id': "
 "5708314941, 'qualifierId': 103, 'value': '9.5', 'qualifier_name': 'Goal "
 "mouth z co-ordinate'}, {'id': 5708314983, 'qualifierId': 233, 'value': "
 "'112', 'qualifier_name': 'Opposite related event ID'}, {'id': 5708314691, "
 "'qualifierId': 56, 'value': 'Center', 'qualifier_name': 'Zone'}, {'id': "
 "5708314943, 'qualifierId': 215, 'qualifier_name': 'Individual Play'}, {'id': "
 "5709016873, 'qualifierId': 178, 'qualifier_name': 'Standing'}, {'id': "
 "5708314931, 'qualifierId': 78, 'qualifier_name': 'Low centre'}, {'id': "
 "5708314933, 'qualifierId': 29, 'qualifier_name': 'Assisted'}, {'id': "
 "5708314935, 'qualifierId': 55, 'value': '164', 'qualifier_name': 'Related "
 "event ID'}, {'id': 5708314689, 'qualifierId': 18, 'qualifier_name': 'Out of "
 "box-centre'}, {'id': 5708314939, 'qualifierId': 102, 'value': '50.2', "
 "'qualifier_name': 'Goal mouth y co-ordinate'}]")

In [102]:
shot_events['event_type'].unique(),\
shots_df['eventType'].unique()

(array(['Attempt Saved', 'Miss', 'Goal', 'Post'], dtype=object),
 array(['AttemptSaved', 'Miss', 'Goal', 'Post'], dtype=object))

In [103]:
shot_events =events[events['event_type'].isin(['Attempt Saved','Miss','Goal',"Post"])]
shot_events.head()[['id','event_type','minute','seconds','outcome','x','y','player_name']]

,id,event_type,minute,seconds,outcome,x,y,player_name
278,2811342019,Attempt Saved,14,35,Successful,79.3,36.6,Lamine Yamal
295,2811342377,Miss,15,30,Successful,83.9,59.9,M. Thuram
339,2811343455,Attempt Saved,18,33,Successful,79.6,76.7,H. Çalhanoğlu
367,2811344219,Attempt Saved,20,27,Successful,89.9,26.4,N. Barella
385,2811344365,Goal,20,55,Successful,88.3,58.3,L. Martínez

# Momentum Merge

In [120]:
announcements = events[events['event_type'] == 'Injury Time Announcem-ent'][['period','qualifier']].set_index('period')

In [124]:
type(announcements['qualifier'][0])

C:\Users\Hp\AppData\Local\Temp\ipykernel_36680\2721242912.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  type(announcements['qualifier'][0])

IndexError: index 0 is out of bounds for axis 0 with size 0

In [122]:
"a" in announcements.columns

False

In [93]:
def prepare_momentum_data(momentum,injury_time_announcement) :
    result = {
        "FirstHalf": {},
        "SecondHalf": {},
        "ExtraTimeFirstHalf": {},
        "ExtraTimeSecondHalf": {}
    }
    for item in momentum:
        if type(item['minute']) == int :
            minute = item["minute"]
            momentum_value = item["value"]
            if minute <= 45:
                result["FirstHalf"][minute] = momentum_value
            elif minute <= 90:
                result["SecondHalf"][minute] = momentum_value
            elif minute <= 105:
                result["ExtraTimeFirstHalf"][minute] = momentum_value
            else:
                result["ExtraTimeSecondHalf"][minute] = momentum_value
        else :
            print(item)
            momentum_value=  item["value"]
            if int(item['minute'])==45 and 0.5 == item['minute']%1:
                period = 'FirstHalf'
            elif int(item['minute'])==90 and 0.5 == item['minute']%1:
                period = 'SecondHalf'
            elif int(item['minute'])==105 and 0.5 == item['minute']%1:
                period = 'ExtraTimeFirstHalf'
            elif int(item['minute'])==120 and 0.5 == item['minute']%1:
                period = 'ExtraTimeSecondHalf'
            else :
                continue
            et_time = int(announcements.loc[period,'qualifier'][0].get('value',0)) if len(announcements.loc[period,'qualifier']) == 1 else -120
            et_dict = {int(item['minute'])+i : momentum_value for i in range(1,et_time+2)}
            result[period] = {**result.get(period),**et_dict}  
    return results
merge_momentum_info

In [94]:
def

{'FirstHalf': {0: 0,
  1: -5,
  2: -5,
  3: 0,
  4: 0,
  5: -22,
  6: -27,
  7: -19,
  8: -8,
  9: 8,
  10: 0,
  11: 0,
  12: -22,
  13: -22,
  14: -22,
  15: -27,
  16: 38,
  17: 65,
  18: 76,
  19: 16,
  20: 0,
  21: 76,
  22: 76,
  23: 60,
  24: -22,
  25: -54,
  26: -43,
  27: -54,
  28: -38,
  29: -43,
  30: -49,
  31: -43,
  32: -43,
  33: -27,
  34: -92,
  35: -87,
  36: -100,
  37: -49,
  38: -49,
  39: -27,
  40: -38,
  41: 11,
  42: 33,
  43: 43,
  44: 0,
  45: 0,
  46: -1,
  47: -1},
 'SecondHalf': {46: -22,
  47: -49,
  48: -52,
  49: -46,
  50: -52,
  51: -52,
  52: -46,
  53: -30,
  54: -68,
  55: -57,
  56: -16,
  57: -35,
  58: -35,
  59: -71,
  60: -76,
  61: -92,
  62: -92,
  63: -33,
  64: -60,
  65: -54,
  66: -81,
  67: -43,
  68: -49,
  69: -16,
  70: -54,
  71: -43,
  72: -76,
  73: -38,
  74: -54,
  75: -22,
  76: -11,
  77: -11,
  78: -54,
  79: -60,
  80: -49,
  81: -11,
  82: 27,
  83: 43,
  84: 27,
  85: -5,
  86: -38,
  87: -54,
  88: -60,
  89: -33,
  90: 54,
  91: 63,
  92: 63,
  93: 63,
  94: 63,
  95: 63,
  96: 63},
 'ExtraTimeFirstHalf': {91: -16,
  92: -16,
  93: 0,
  94: 79,
  95: 73,
  96: 35,
  97: -27,
  98: -33,
  99: 100,
  100: 100,
  101: 100,
  102: -5,
  103: -22,
  104: -38,
  105: -54,
  106: 1,
  107: 1,
  108: 1,
  109: 1},
 'ExtraTimeSecondHalf': {106: -60,
  107: -87,
  108: -87,
  109: 11,
  110: 27,
  111: 27,
  112: -19,
  113: -8,
  114: -22,
  115: -19,
  116: -62,
  117: -49,
  118: -43,
  119: -22,
  120: -38,
  121: -40,
  122: -40,
  123: -40}}

In [98]:
lookup = (
    pd.DataFrame(result)
    .stack()
    .reset_index()
    .rename(columns={
        "level_0": "minute",
        "level_1": "period",
        0: "momentum"
    })
)
lookup['minute'] -= 1
lookup

     minute               period  momentum
0        -1            FirstHalf       0.0
1         0            FirstHalf      -5.0
2         1            FirstHalf      -5.0
3         2            FirstHalf       0.0
4         3            FirstHalf       0.0
..      ...                  ...       ...
131     118  ExtraTimeSecondHalf     -22.0
132     119  ExtraTimeSecondHalf     -38.0
133     120  ExtraTimeSecondHalf     -40.0
134     121  ExtraTimeSecondHalf     -40.0
135     122  ExtraTimeSecondHalf     -40.0

[136 rows x 3 columns]

In [99]:
events.merge(
    lookup,
    on=["period", "minute"],
    how="left"
)

,id,eventId,event_type,period,minute,seconds,team,outcome,x,y,timestamp,lastModified,qualifier,player_id,player_name,key_pass,assist,description,end_x,end_y,goal_mouth_y,goal_mouth_z,big_chance,own_goal,zone,momentum
0,2811320779,1,Team set up,Start,0,0,FC Barcelona,Successful,0.0,0.0,2025-05-06T17:51:37.590Z,2025-05-06T17:51:37Z,"[{'id': 5708192801, 'qualifierId': 59, 'value'...",NaN,NaN,NaN,NaN,The qualifiers on this event show team lineup ...,0.0,0.0,0.0,0.0,False,False,NaN,NaN
1,2811320839,1,Team set up,Start,0,0,FC Internazionale Milano,Successful,0.0,0.0,2025-05-06T17:51:58.187Z,2025-05-06T17:51:57Z,"[{'id': 5708193191, 'qualifierId': 194, 'value...",NaN,NaN,NaN,NaN,The qualifiers on this event show team lineup ...,0.0,0.0,0.0,0.0,False,False,NaN,NaN
2,2811337399,2,Start,FirstHalf,0,0,FC Barcelona,Successful,0.0,0.0,2025-05-06T19:00:12.938Z,2025-05-06T19:00:14Z,"[{'id': 5708288541, 'qualifierId': 127, 'value...",NaN,NaN,NaN,NaN,Start of a match period.,0.0,0.0,0.0,0.0,False,False,NaN,-5.0
3,2811337395,2,Start,FirstHalf,0,0,FC Internazionale Milano,Successful,0.0,0.0,2025-05-06T19:00:12.938Z,2025-05-07T03:02:46Z,"[{'id': 5708288533, 'qualifierId': 127, 'value...",NaN,NaN,NaN,NaN,Start of a match period.,0.0,0.0,0.0,0.0,False,False,NaN,-5.0
4,2811337403,3,Pass,FirstHalf,0,0,FC Internazionale Milano,Successful,50.0,50.0,2025-05-06T19:00:12.978Z,2025-05-07T03:05:51Z,"[{'id': 5708288573, 'qualifierId': 213, 'value...",66nvc8a4kd3cyeyj3i474cudx,M. Thuram,NaN,NaN,An attempt by one player to play the ball to a...,36.1,47.2,0.0,0.0,False,False,Back,-5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2261,2811379831,1343,End,ExtraTimeSecondHalf,122,16,FC Barcelona,Successful,0.0,0.0,2025-05-06T21:39:07.544Z,2025-05-07T03:37:57Z,"[{'id': 5708525633, 'qualifierId': 209, 'quali...",NaN,NaN,NaN,NaN,End of a match period.,0.0,0.0,0.0,0.0,False,False,NaN,-40.0
2262,2811379837,902,End,End,0,0,FC Internazionale Milano,Successful,0.0,0.0,2025-05-06T21:39:17.326Z,2025-05-06T21:39:17Z,"[{'id': 5708525671, 'qualifierId': 57, 'value'...",NaN,NaN,NaN,NaN,End of a match period.,0.0,0.0,0.0,0.0,False,False,NaN,NaN
2263,2811379847,1344,End,End,0,0,FC Barcelona,Successful,0.0,0.0,2025-05-06T21:39:17.326Z,2025-05-06T21:39:20Z,"[{'id': 5708525733, 'qualifierId': 57, 'value'...",NaN,NaN,NaN,NaN,End of a match period.,0.0,0.0,0.0,0.0,False,False,NaN,NaN
2264,2811379841,903,Collection End,End,0,0,FC Internazionale Milano,Successful,0.0,0.0,2025-05-06T21:39:17.360Z,2025-05-07T04:40:04Z,"[{'id': 5709062011, 'qualifierId': 406, 'value...",NaN,NaN,NaN,NaN,Signals that the match is over and data collec...,0.0,0.0,0.0,0.0,False,False,NaN,NaN
2265,2811379853,1345,Collection End,End,0,0,FC Barcelona,Successful,0.0,0.0,2025-05-06T21:39:17.360Z,2025-05-07T04:40:05Z,"[{'id': 5708912549, 'qualifierId': 229, 'quali...",NaN,NaN,NaN,NaN,Signals that the match is over and data collec...,0.0,0.0,0.0,0.0,False,False,NaN,NaN